<div class="form-group">
    <label>Stats</label>
    <div class="row" *ngFor="let stat of stats">
        <div class="col-xs-5">
            {{stat.name}}
        </div>
        <div class="col-xs-2">
            {{stat.value}}
        </div>
        <div class="col-xs-3">
            {{stat.units}}
        </div>
        <div class="col-xs-2">
            <button class="btn btn-danger" type="button" (click)="removeStat(stat)">Remove</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <input class="form-control" [(ngModel)]="newStat.name" placeholder="Stat" name="newStat.name"
                list="statNames" (keyup.enter)="addStat()" (change)="updateStatSuggestions()" />
            <datalist id="statNames">
                <option *ngFor="let stat of autoComplete.stats" value="{{stat}}"></option>
            </datalist>
        </div>
        <div class="col-xs-2">
            <input class="form-control" type="number" [(ngModel)]="newStat.value" placeholder="Value"
                name="newStat.value" (keyup.enter)="addStat()" />
        </div>
        <div class="col-xs-3">
            <input class="form-control" [(ngModel)]="newStat.units" name="newStat.units" list="statUnits"
                (keyup.enter)="addStat()" />
            <datalist id="statUnits">
                <option *ngFor="let units of autoComplete.units" value="{{units}}"></option>
            </datalist>
        </div>
        <div class="col-xs-2">
            <button class="btn" type="button" name="newStat.add" (click)="addStat()">Add</button>
        </div>
    </div>
</div>